In [1]:
NAME=input("Enter your name: ")
CITY=input("Enter your city: ") 
AGE=input ("Enter your age: ")
COLLEGE=input ("Enter your college: ")
PROFESSION=input ("Enter your profession")
PETNAME=input ("Enter your pet name: ")
print ("There once was a person named", NAME ,"who lived in", CITY,".At the age of", AGE, NAME, "went to college at", COLLEGE,".", NAME, "graduated and went to work as a", PROFESSION,".", "Then,", NAME, "adopted an animal named", PETNAME,".They both lived happily ever after!")

Enter your name:  NAME
Enter your city:  CITY
Enter your age:  AGE
Enter your college:  COLLEGE
Enter your profession PROFESSION
Enter your pet name:  PETNAME

There once was a person named NAME who lived in CITY .At the age of AGE NAME went to college at COLLEGE . NAME graduated and went to work as a PROFESSION . Then, NAME adopted an animal named PETNAME .They both lived happily ever after!